html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

.topnav {
  background-color: #151926;
  min-height: 60px;
  display: flex;
  justify-content: left;
  align-content: center;
}

.topnav a {
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.topnav input {
    padding: 10px;
    text-decoration: none;
    color: black;
    margin: 10px 20px;
    min-width: 600px;
}

.topnav a:hover {
    color: hotpink;
}

.greeting h1 {
    color:ivory;
    text-align:center;
    background-color: purple;
    padding: 10px;
}



img {
    margin: 0;
    display: block;
}

.body-options {
    text-align: center;
    padding: 20px;
}

.signin-signup {
    border: solid darkgray;
    border-width: 1px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 40px auto;
}

.signin-signup h1 {
    padding: 10px;
}



.signin-signup input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .signin-signup input[type=submit] {
    width: 100%;
    background-color: #d8ecf7;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signin-signup input[type=submit]:hover {
    background-color: #a7bfcc;
  }

  .goto-signup {
    color: darkgray;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 40px auto;
  }

  .goto-signup button {
      width: 100%;
  }
  

button {
    padding: 10px 20px;
}



footer {
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    padding: 40px 0;
  }
